USE EasyBudget
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16/7/2018 19:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 16/7/2018 19:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGINSInROLES](
	[Login_LoginId] [int] NOT NULL,
	[Role_RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleUsers] PRIMARY KEY CLUSTERED 
(
	[Role_RoleId] ASC,
	[Login_LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LOGINSInROLES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LoginRoles_dbo.ROLES_Role_RoleId] FOREIGN KEY([Role_RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOGINSInROLES] CHECK CONSTRAINT [FK_dbo.LoginRoles_dbo.ROLES_Role_RoleId]
GO
ALTER TABLE [dbo].[LOGINSInROLES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LoginRoles_dbo.LOGINS_Login_LoginId] FOREIGN KEY([Login_LoginId])
REFERENCES [dbo].[LOGINS] ([LoginId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOGINSInROLES] CHECK CONSTRAINT [FK_dbo.LoginRoles_dbo.LOGINS_Login_LoginId]
GO
