@{
	ViewBag.Title = "Pagina Principal";
	Layout = "~/Views/Shared/_Lockout.cshtml";
}

<div id="section1" class="container-fluid">
	<div class="bg-home">
		<img class="logo" src="~/Images/easybudget-white-small.png" alt="EasyBudget" />
	</div>
	<hr />
	<h4 class="text-center mt-5">Control de presupuesto personal fácil y seguro.</h4>
	<blockquote class="text-center">
		Easy Budget le proporciona un mejor control presupuestos,
		con herramientas que le van a ayudar a ser responsable con sus finanzas,
		obtener el control de gasto y darle una interpretación visual de sus metas financieras.
	</blockquote>
	<div class="col-sm-3 ml-80px alinear text-center">
		<i class="fa fa-star fa-5x bg-orange"></i><h4>Fácil</h4>
		<blockquote>Pensada para que los usuarios puedan llevar sus cuentas sin ning&uacute;n esfuerzo.</blockquote>
	</div>
	<div class="col-sm-3 ml-80px alinear text-center">
		<i class="fa fa-lock fa-5x bg-orange"></i><h4>Seguro</h4>
		<blockquote>No necesitas poner ninguna clave, ni informaci&oacute;n de tu banco. Tus datos son lo m&aacute;s importante y son tuyos.</blockquote>
	</div>
	<div class="col-sm-3 ml-80px alinear text-center">
		<i class="fa fa-flag fa-5x bg-orange"></i><h4>Gratis</h4>
		<blockquote>Contamos con una versi&oacute;n gratuita que te permitir&aacute; controlar tus gastos para siempre.</blockquote>
	</div>
</div>
<div id="section2" class="container-fluid mt-5">
	<div class="col-md-5 col-sm-12 alinear">
		<div class="clearfix"></div>
		<img class="w-100" src="~/Images/Budgeting-Made-Easy.png" alt="Made Easy" />
	</div>
	<div class="col-md-6 col-sm-12 alinear">
		<br /><h3 class="bg-orange text-center">Cómo puede ayudarle Easy Budget</h3>
		<hr />
		<blockquote>
			Easy Budget es un proveedor de gestión de flujos de efectivo que utiliza software para control de presupuestos, herramientas educativas
			y gestores de flujos de efectivo para ayudar a personas en recuperar el control de su posición financiera y en última instancia, alcanzar sus metas
			de estilo de vida.
		</blockquote><br />
		<blockquote>
			Nuestro objetivo es ayudar a todos los hogares a lograr independencia financiera. Mirando más hacia el futuro,
			Easy Budget busca ampliar su alcance en el mercado mediante el empleo de individuos semejantes que comparten nuestra visión de mejorar las vidas de los demás.
		</blockquote>
	</div>
	<div class="col-md-6 col-sm-12 alinear mt-5">
		<h3 class="bg-orange text-center">Nuestros objetivos</h3>
		<hr />
		<blockquote>
			<h5><b>Lo que queremos lograr</b></h5>
			Easy Budget tiene como objetivo permitir a las personas a recuperar el control de sus finanzas, a través de presupuestos y rendición de cuentas.
			Le vamos a ayudar a educar y cambiar hábitos de vida para crear una saludable perspectiva financiera para el futuro.
		</blockquote><br />
		<blockquote>
			<h5><b>Cómo podemos ayudar a nuestros clientes</b></h5>
			Easybudget puede ayudar a los clientes utilizando software de presupuestación para permitirle conseguir una comprensión exacta sobre dónde va su dinero.
			Mediante nuestra asistencia personalizada y herramientas de educación en línea, nuestros clientes van a conocer sobre el sector financiero para que sea más fácil de utilizar y navegar.
		</blockquote>
	</div>
	<div class="col-md-5 col-sm-12 alinear">
		<div class="clearfix"></div>
		<img class="w-100" src="~/Images/set-goals-check.jpg" alt="Coins" />
	</div>
</div>
